* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

a, a:visited a:focus {
  color: #070439;
}

.header_logo img {
  width: 5.375rem;
  height: 1.575rem;
}

@media (min-width: 64em) {
  .header_logo img {
    width: 12.625rem;
    height: 3.675rem;
  }
}

@media (min-width: 87.5em) {
  .header_logo img {
    width: 12.625rem;
    height: 3.675rem;
  }
}

.header_links a {
  font-size: 0.7rem;
  margin-left: 1rem;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
}

@media (min-width: 64em) {
  .header_links a {
    font-size: 1rem;
    margin-left: 2rem;
  }
}

@media (min-width: 87.5em) {
  .header_links a {
    font-size: 1rem;
    margin-left: 2rem;
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
  padding-right: 2.3225rem;
  padding-left: 2.3225rem;
  width: 100%;
  height: auto;
}

@media (min-width: 64em) {
  nav {
    padding-top: 4rem;
    padding-right: 4rem;
    padding-bottom: 0;
    padding-left: 4rem;
  }
}

@media (min-width: 87.5em) {
  nav {
    padding-top: 4.625rem;
    padding-right: 4.625rem;
    padding-bottom: 0;
    padding-left: 4.625rem;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 4.875rem 2.3225rem;
  letter-spacing: 0.2px;
}

@media (min-width: 64em) {
  .hero {
    flex-direction: row-reverse;
    padding-top: 2.575rem;
    padding-right: 4rem;
    padding-bottom: 10.25rem;
    padding-left: 4rem;
  }
}

@media (min-width: 87.5em) {
  .hero {
    flex-direction: row-reverse;
    padding-top: 2.875rem;
    padding-right: 4.875rem;
    padding-bottom: 14.25rem;
    padding-left: 4.875rem;
  }
}

.hero_img img {
  width: 18.9rem;
  height: 14.5rem;
}

@media (min-width: 64em) {
  .hero_img img {
    width: 30.375rem;
    height: 24.8125rem;
  }
}

@media (min-width: 87.5em) {
  .hero_img img {
    width: 36.375rem;
    height: 27.8125rem;
  }
}

@media (min-width: 64em) {
  .hero_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 3.2rem;
  }
}

.hero_text {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

@media (min-width: 64em) {
  .hero_text {
    text-align: left;
  }
}

.hero_text h1 {
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 700;
  color: #070439;
}

@media (min-width: 64em) {
  .hero_text h1 {
    font-size: 2.7rem;
  }
}

@media (min-width: 87.5em) {
  .hero_text h1 {
    font-size: 2.9rem;
  }
}

.hero_text p {
  font-size: 0.9rem;
  color: #070439;
  line-height: 1.5;
}

@media (min-width: 64em) {
  .hero_text p {
    font-size: 1.4rem;
  }
}

.hero_form {
  display: flex;
  flex-direction: column;
  margin-top: 2.1875rem;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

@media (min-width: 64em) {
  .hero_form {
    flex-direction: row;
    align-items: flex-start;
    margin-top: 0.8875rem;
  }
}

@media (min-width: 87.5em) {
  .hero_form {
    margin-top: 1rem;
  }
}

.hero_form_validation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;
}

@media (min-width: 64em) {
  .hero_form_validation {
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.hero_form_validation input {
  width: 14.75rem;
  height: 1.6rem;
  padding: 1.25rem;
  font-family: 'Open Sans', sans-serif;
  border-color: #070439;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
}

@media (min-width: 64em) {
  .hero_form_validation input {
    width: 20rem;
    height: 3.2rem;
    font-size: 1.4rem;
  }
}

@media (min-width: 87.5em) {
  .hero_form_validation input {
    width: 31rem;
    height: 3.8rem;
  }
}

.hero_form_validation input::placeholder {
  color: #070439;
}

.hero_form_validation input:focus {
  border-color: #ff6060;
  outline: none;
}

.hero_form_validation input:not(:focus):not(:placeholder-shown):invalid ~ .error-message {
  display: block;
  color: #ff6060;
}

.hero_form_validation input:not(:focus):not(:placeholder-shown):valid ~ .success-message {
  display: block;
  color: #14cb23;
}

.hero_form_validation .error-message {
  display: none;
  font-size: 0.9rem;
}

.hero_form_validation .success-message {
  display: none;
  font-size: 0.9rem;
}

.hero_form button {
  width: 14.75rem;
  height: 2.525rem;
  font-size: 0.9rem;
  text-align: center;
  color: #f6f6fe;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  background: #3065f8;
  border-radius: 3px;
  border-style: none;
  opacity: 1;
  cursor: pointer;
}

@media (min-width: 64em) {
  .hero_form button {
    width: 10rem;
    height: 3.2rem;
    font-size: 1.4rem;
  }
}

@media (min-width: 87.5em) {
  .hero_form button {
    width: 17rem;
    height: 3.8rem;
  }
}

.hero_form button:hover {
  opacity: 0.7;
}

.content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #0e00ff0d;
  align-items: center;
  justify-content: center;
  padding: 2.875rem 2.3225rem;
  letter-spacing: 0.2px;
  font-family: 'Open Sans', sans-serif;
}

@media (min-width: 64em) {
  .content {
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 7rem;
    padding-right: 4rem;
    padding-bottom: 3rem;
    padding-left: 4rem;
  }
}

@media (min-width: 87.5em) {
  .content {
    padding-right: 4.875rem;
    padding-bottom: 4.875rem;
    padding-left: 4.875rem;
  }
}

.content_image img {
  width: 18.9rem;
  height: 14.5rem;
}

@media (min-width: 64em) {
  .content_image img {
    width: 30.375rem;
    height: 21.8125rem;
    margin-top: 3em;
  }
}

@media (min-width: 87.5em) {
  .content_image img {
    width: 36.375rem;
    height: 27.8125rem;
  }
}

.content_texts {
  text-align: center;
  align-items: center;
}

@media (min-width: 64em) {
  .content_texts {
    text-align: left;
  }
}

.content_texts h1 {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 700;
  color: #070439;
  margin-bottom: 1.375rem;
}

@media (min-width: 64em) {
  .content_texts h1 {
    font-size: 2rem;
  }
}

@media (min-width: 87.5em) {
  .content_texts h1 {
    font-size: 2.4rem;
  }
}

.content_texts p {
  font-size: 0.9rem;
  text-align: left;
  color: #070439;
  line-height: 1.5;
}

@media (min-width: 64em) {
  .content_texts p {
    font-size: 1.4rem;
    padding-top: 1.5rem;
    padding-right: 2rem;
  }
}

@media (min-width: 87.5em) {
  .content_texts p {
    padding-right: 6rem;
  }
}

.content_container {
  position: relative;
  width: 12.5rem;
  height: 30px;
  margin-top: 1.25rem;
  margin-left: 4.6875rem;
  margin-bottom: 1.25rem;
  cursor: pointer;
}

@media (min-width: 64em) {
  .content_container {
    margin-left: 0;
    width: 13.5rem;
  }
}

.content_container:hover {
  opacity: 0.7;
}

.content_container::after {
  content: "";
  position: absolute;
  display: block;
  width: 8.4375rem;
  height: 2px;
  background-color: #3c9f8f;
  margin-left: 0.2rem;
  margin-top: 0.2rem;
  opacity: 1;
}

@media (min-width: 64em) {
  .content_container::after {
    width: 10.5rem;
    margin-top: 0.2rem;
  }
}

@media (min-width: 87.5em) {
  .content_container::after {
    margin-top: 0.5rem;
  }
}

.content_container::after:hover {
  opacity: 0.7;
}

.content_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9.375rem;
  height: 25px;
  gap: 5px;
}

@media (min-width: 64em) {
  .content_link {
    width: 11rem;
    margin-top: 2rem;
  }
}

@media (min-width: 87.5em) {
  .content_link {
    width: 12rem;
    margin-top: 2rem;
  }
}

.content_link h3 {
  font-size: 0.8rem;
  font-weight: 400;
  color: #3c9f8f;
}

@media (min-width: 64em) {
  .content_link h3 {
    font-size: 1rem;
  }
}

.content_link img {
  width: 1.125rem;
  height: 1.125rem;
}

@media (min-width: 87.5em) {
  .content_link img {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.content_quote {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 80%;
  height: auto;
  border-radius: 5px;
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding: 16px;
  box-shadow: 1px 1px 9px 0.1px #2e2b633b;
}

@media (min-width: 64em) {
  .content_quote {
    width: 75%;
    margin-top: 3rem;
  }
}

@media (min-width: 87.5em) {
  .content_quote {
    width: 65%;
    margin-top: 5rem;
  }
}

.content_quote img {
  width: 1.125rem;
  height: 1.125rem;
}

.content_quote p {
  font-size: 0.7rem;
  text-align: left;
  color: #070439;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 0.2px;
}

@media (min-width: 64em) {
  .content_quote p {
    font-size: 1.4rem;
  }
}

.content_quote_end {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2px;
}

.content_quote_end img {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50px;
}

.content_quote_end_texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 20px;
}

.content_quote_end_texts h2 {
  font-size: 1rem;
  font-weight: 700;
  color: #070439;
  margin-bottom: 0;
}

@media (min-width: 64em) {
  .content_quote_end_texts h2 {
    font-size: 1.057rem;
  }
}

.content_quote_end_texts p {
  font-size: 0.9rem;
  text-align: left;
  color: #070439;
  font-weight: 400;
  margin-top: 0;
}

@media (min-width: 64em) {
  .content_quote_end_texts p {
    font-size: 1rem;
    margin-top: -1rem;
  }
}

@media (min-width: 87.5em) {
  .content_quote_end_texts p {
    font-size: 1.057rem;
    margin-top: -1.25rem;
  }
}

.sub_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: auto;
  padding: 2.875rem 2.3225rem;
  flex-direction: column;
  background-color: #585989;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.2px;
  color: #f6f6fe;
}

@media (min-width: 64em) {
  .sub_content {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
    padding-top: 5rem;
    padding-right: 4rem;
    padding-left: 4rem;
  }
}

@media (min-width: 87.5em) {
  .sub_content {
    padding-top: 7rem;
    padding-right: 4.875rem;
    padding-left: 4.875rem;
  }
}

.sub_content_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 64em) {
  .sub_content_text {
    width: 60%;
    align-items: flex-start;
    justify-content: flex-start;
    padding-right: 50px;
  }
}

@media (min-width: 87.5em) {
  .sub_content_text {
    padding-right: 120px;
  }
}

.sub_content_text h2 {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 700;
}

@media (min-width: 64em) {
  .sub_content_text h2 {
    font-size: 2.2rem;
  }
}

.sub_content_text p {
  font-size: 0.9rem;
  line-height: 1.5;
}

@media (min-width: 64em) {
  .sub_content_text p {
    font-size: 1.4rem;
    padding-right: 1rem;
  }
}

.sub_content_form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1.2rem;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
}

@media (min-width: 64em) {
  .sub_content_form {
    align-items: flex-start;
    justify-content: flex-start;
    width: 40%;
    margin-top: 3rem;
    margin-bottom: 8rem;
  }
}

.sub_content_form_validation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80px;
}

@media (min-width: 64em) {
  .sub_content_form_validation {
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.sub_content_form_validation input {
  width: 14.75rem;
  height: 1.6rem;
  padding: 1.25rem;
  font-family: 'Open Sans', sans-serif;
  border-color: #070439;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
}

@media (min-width: 64em) {
  .sub_content_form_validation input {
    width: 20rem;
    height: 3.2rem;
    font-size: 1.4rem;
  }
}

@media (min-width: 87.5em) {
  .sub_content_form_validation input {
    width: 31rem;
    height: 3.8rem;
  }
}

.sub_content_form_validation input::placeholder {
  color: #070439;
}

.sub_content_form_validation input:focus {
  border-color: #ff6060;
  outline: none;
}

.sub_content_form_validation input:not(:focus):not(:placeholder-shown):invalid ~ .error-message {
  display: block;
}

.sub_content_form_validation input:not(:focus):not(:placeholder-shown):valid ~ .success-message {
  display: block;
}

.sub_content_form_validation .error-message {
  display: none;
  font-size: 0.9rem;
}

.sub_content_form_validation .success-message {
  display: none;
  font-size: 0.9rem;
}

.sub_content_form button {
  width: 14.75rem;
  height: 2.2rem;
  text-align: center;
  color: #f6f6fe;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  background: #3065f8;
  border-radius: 3px;
  border-style: none;
  opacity: 1;
  cursor: pointer;
}

@media (min-width: 64em) {
  .sub_content_form button {
    width: 15rem;
    height: 3.2rem;
    font-size: 1.4rem;
  }
}

@media (min-width: 87.5em) {
  .sub_content_form button {
    width: 17rem;
    height: 3.8rem;
  }
}

.sub_content_form button:hover {
  opacity: 0.7;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 27px;
  background-color: #070439;
  width: 100%;
  height: auto;
  padding-top: 4rem;
  padding-right: 2.3225rem;
  padding-bottom: 2rem;
  padding-left: 2.3225rem;
}

@media (min-width: 64em) {
  .footer {
    padding-top: 5rem;
    padding-right: 4rem;
    padding-bottom: 2rem;
    padding-left: 4rem;
  }
}

.footer_image {
  width: 12.625rem;
  height: 3.675rem;
}

.footer_image:hover {
  cursor: pointer;
}

.footer_texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50px;
}

@media (min-width: 64em) {
  .footer_texts {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 150px;
  }
}

.footer_texts_contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
}

@media (min-width: 64em) {
  .footer_texts_contact {
    gap: 20px;
  }
}

@media (min-width: 87.5em) {
  .footer_texts_contact {
    gap: 25px;
  }
}

.footer_texts_contact a {
  font-size: 1rem;
  color: #f6f6fe;
}

.footer_texts_contact a:hover {
  color: #3065f8;
  cursor: pointer;
}

.footer_texts_one {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
}

.footer_texts_one:hover {
  color: #3065f8;
  cursor: pointer;
}

@media (min-width: 64em) {
  .footer_texts_one {
    gap: 20px;
  }
}

@media (min-width: 87.5em) {
  .footer_texts_one {
    gap: 25px;
  }
}

.footer_texts_one a {
  font-size: 1rem;
  color: #f6f6fe;
}

.footer_texts_one a:hover {
  color: #3065f8;
  cursor: pointer;
}

.footer_texts_two {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
}

@media (min-width: 64em) {
  .footer_texts_two {
    gap: 20px;
  }
}

@media (min-width: 87.5em) {
  .footer_texts_two {
    gap: 25px;
  }
}

.footer_texts_two a {
  font-size: 1rem;
  color: #f6f6fe;
}

.footer_texts_two a:hover {
  color: #3065f8;
  cursor: pointer;
}

.footer_social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 8rem;
  gap: 15px;
}

@media (min-width: 64em) {
  .footer_social {
    gap: 30px;
  }
}

.footer_social a {
  font-size: 1.2rem;
  color: #f6f6fe;
}

.footer_social a:hover {
  color: #3065f8;
  cursor: pointer;
}

.attribution {
  font-size: 0.9rem;
  text-align: center;
  color: white;
  margin-top: 2rem;
}

@media (min-width: 64em) {
  .attribution {
    margin-left: 17rem;
  }
}

.attribution a {
  color: white;
}
