.header {

  &_logo {

    img {
      width: 5.375rem;
      height: 1.575rem;

      // for Laptops
      @include breakpoint-up(large){
        width: 12.625rem;
        height: 3.675rem;
      }

      // for Desktops
      @include breakpoint-up(x-large){
        width: 12.625rem;
        height: 3.675rem;
      }
    }
  }

  &_links {

    a {
      font-size: 0.7rem;
      margin-left: 1rem;
      font-family: 'Open Sans', sans-serif;
      cursor: pointer;

      // for Laptops
      @include breakpoint-up(large){
        font-size: 1rem;
        margin-left: 2rem;
      }

      // for Desktops
      @include breakpoint-up(x-large){
        font-size: 1rem;
        margin-left: 2rem;
      }
    }
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
  padding-right: 2.3225rem;
  padding-left: 2.3225rem;
  width: 100%;
  height: auto;

  // for Laptops
  @include breakpoint-up(large){
    padding-top: 4rem;
    padding-right: 4rem;
    padding-bottom: 0;
    padding-left: 4rem;
  }

  // for Desktops
  @include breakpoint-up(x-large){
    padding-top: 4.625rem;
    padding-right: 4.625rem;
    padding-bottom: 0;
    padding-left: 4.625rem;
  }
}